<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Ảnh</label>
      <input type="text" class="form-control" id="image" name="image" />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ </label>
      <input type="text" class="form-control" id="level" name="level" />
    </div>
    <div class="row justify-content-between container">
      <a href="/me/stored/courses" class="btn btn-primary me-auto col-2">Quay
        lại</a>
      <button type="submit" class="btn btn-primary ms-auto col-2">Thêm khóa học</button>
    </div>
  </form>
</div>