<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button> Học Ngay</button>
    </div>
    {{!-- {{#with parent}} --}}
    <div class="col-lg-9">
      <h2 class="mb-3">{{course.name}}</h2>
       <h6>{{course.level.level}}</h6>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{course.videoId}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="mt-4">
        <p>{{course.description}}</p>
       
      </div>

    </div>
    {{!-- {{/with}} --}}
  </div>
</div>