
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
.app{
    font-size: 16px;
}
.user-avatar{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}
.form-search{
    width: 230px;
    height: 37px;
    margin-top: 10px;
    border-radius: 5px;
}
a{
    direction: none;
    text-decoration: none;
}
.card{
    width: 22rem;
    height: max-content;
}

:root {
  --firstColor: #ff416c;
  --secoundColor: #ff4b2b;
}

.title{
  text-align: center;
  justify-content: center;
}
