<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="error-page">
      <div class="mars"></div>
      <img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
      <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
      <p class="title">Oh no!!</p>
      <p class="subtitle">
        Hình như bạn trang bạn truy cập không tồn tại !!!
        <br />
        hoặc bạn cố tình truy cập trang mà bạn không được ủy quyền !
      </p>
      <div align="center">
        <a class="btn-back" href="/home">Về Trang Chủ</a>
      </div>
      <img
        src="https://assets.codepen.io/1538474/astronaut.svg"
        class="astronaut"
      />
      <img
        src="https://assets.codepen.io/1538474/spaceship.svg"
        class="spaceship"
      />
    </div>
  </body>
</html>